@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  @apply bg-white text-black; /* Default Light Mode Styles */
}

/* Dark mode styles */
.dark body {
  @apply bg-[#121212] text-white; /* Dark Mode Styles */
}

/* Scroll bar  */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #eab308;
  border-radius: 20px;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ce9b03;
  transition: 1s;
}

/* Dark mode scroll bar */
.dark ::-webkit-scrollbar-track {
  background-color: #333333; /* Dark mode track */
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #eab308; /* Dark mode thumb */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #ce9b03; /* Hover effect for dark mode */
}
